body {
  background: black;
  color: #B4C3CA;
}

#game-wrapper {
  border: 1px solid green;
  font-size: 19pt;
  margin: 0 auto;
  overflow: hidden;
  width: 18em;
}

#field {
  border: 1px solid green;
  height: 23em;
  position: relative;
  width: 10em;
}

#info-bar {
  border: 1px solid green;
  float: right;
  font-size: 14pt;
  height: 422px;
  margin: 34px 13px 0 0;
  width: 168px;
}

#game-info {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}

#game-info li {
  padding: 5px 0;
}

#next-piece-wrapper {
  font-size: 19pt;
  height: 160px;
  margin: 27px auto 0;
  position: relative;
  text-align: center;
  width: 134px;
}

.cube {
  border: 4px outset black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  height: 1em;
  position: absolute;
  width: 1em;
}

.I-piece {
  background: cyan;
}

.J-piece {
  background: blue;
}

.L-piece {
  background: orange;
}

.O-piece {
  background: yellow;
}

.S-piece {
  background: green;
}

.T-piece {
  background: purple;
}

.Z-piece {
  background: red;
}
