body {
  background: #01010e;
  color: #B4C3CA;
}

#menu-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.message-wrapper {
  background-image: url('images/mysprite.png');
  background-position: left -0px;
  height: 200px;
  line-height: 200px;
  margin: 0 auto; 
  padding: 20px 0;
  position: relative;
  text-align: center;
  top: 20%;
  width: 500px;
}

.menu-message {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25;
}

.menu-message input {
  background-color: transparent;
  background-image: url('images/mysprite.png');
  background-position: left -240px;
  color: white;
  border: none;
  height: 60px;
  width: 100px;
}

.menu-message input:active {
  background-image: url('images/mysprite.png');
  background-position: left -300px;
}

.game-bg {
  background-position: center top;
  background-image: url(images/main-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

#game-wrapper {
  font-size: 18pt;
  margin: 0 auto;
  overflow: hidden;
  width: 500px;
}

.field-wrapper {
  background-image: url('images/mysprite.png');
  background-position: left -360px;
  height: 590px;
  padding: 20px 20px 0;
  width: 240px;
}

#field {
  height: 552px;
  position: relative;
  width: 240px;
}

#info-bar {
  float: right;
  font-size: 14pt;
  margin: 34px 13px 0 0;
}

#statisctics {
  list-style: none;
  margin: 93px 0 0;
  padding: 0;
  text-align: center;
}

#level {
  background-image: url('images/mysprite.png');
  background-position: left -970px;
  height: 55px;
  padding-top: 45px;
  width: 160px;
}

#lines {
  background-image: url('images/mysprite.png');
  background-position: left -1070px;
  height: 55px;
  padding-top: 45px;
  width: 160px;
}

#score {
  background-image: url('images/mysprite.png');
  background-position: left -1170px;
  height: 75px;
  padding-top: 45px;
  width: 160px;
}

#game-info li {
  padding: 5px 0;
}

#next-piece-wrapper {
  background-image: url('images/mysprite.png');
  background-position: left -1290px;
  display: table-cell;
  font-size: 18pt;
  height: 145px;
  margin: 0;
  padding-top: 15px;
  text-align: center;
  vertical-align: middle;
  width: 160px;
}

.cube {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  height: 1em;
  position: absolute;
  width: 1em;
}

.I-piece {
  background-image: url('images/mysprite.png');
  background-position: left -1450px;
}

.J-piece {
  background-image: url('images/mysprite.png');
  background-position: left -1474px;
}

.L-piece {
  background-image: url('images/mysprite.png');
  background-position: left -1498px;
}

.O-piece {
  background-image: url('images/mysprite.png');
  background-position: left -1522px;
}

.S-piece {
  background-image: url('images/mysprite.png');
  background-position: left -1546px;
}

.T-piece {
  background-image: url('images/mysprite.png');
  background-position: left -1570px;
}

.Z-piece {
  background-image: url('images/mysprite.png');
  background-position: left -1594px;
}

.I-piece-next {
  background-image: url('images/mysprite.png');
  background-position: left -1618px;
  display: inline-block;
  height: 24px;
  width: 96px;
}

.J-piece-next {
  background-image: url('images/mysprite.png');
  background-position: left -1642px;
  display: inline-block;
  height: 72px;
  margin-top: 15px;
  width: 48px;
}

.L-piece-next {
  background-image: url('images/mysprite.png');
  background-position: left -1714px;
  display: inline-block;
  height: 72px;
  margin-top: 15px;
  width: 48px;
}

.O-piece-next {
  background-image: url('images/mysprite.png');
  background-position: left -1786px;
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  width: 48px;
}

.S-piece-next {
  background-image: url('images/mysprite.png');
  background-position: left -1834px;
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  width: 72px;
}

.T-piece-next {
  background-image: url('images/mysprite.png');
  background-position: left -1882px;
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  width: 72px;
}

.Z-piece-next {
  background-image: url('images/mysprite.png');
  background-position: left -1930px;
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  width: 72px;
}
