body {
  background: #01010e;
  color: #B4C3CA;
}

#menu-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.menu-message {
  background: rgba(128, 128, 128, 0.8);
  height: 200px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  text-align: center;
  top: 20%;
}

.menu-message input {
  background: white;
}

#game-wrapper {
  font-size: 18pt;
  margin: 0 auto;
  overflow: hidden;
  width: 500px;
}

.field-wrapper {
  background: url(images/field.png);
  height: 590px;
  padding: 20px 20px 0;
  width: 240px;
}

#field {
  height: 552px;
  position: relative;
  width: 240px;
}

#info-bar {
  float: right;
  font-size: 14pt;
  margin: 34px 13px 0 0;
}

#statisctics {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}

#level {
  background: url(images/level.png);
  height: 55px;
  padding-top: 45px;
  width: 160px;
}

#lines {
  background: url(images/lines.png);
  height: 55px;
  padding-top: 45px;
  width: 160px;
}

#score {
  background: url(images/score.png);
  height: 55px;
  padding-top: 45px;
  width: 160px;
}

#game-info li {
  padding: 5px 0;
}

#next-piece-wrapper {
  background: url(images/next.png);
  display: table-cell;
  font-size: 18pt;
  height: 145px;
  margin: 0;
  padding-top: 15px;
  text-align: center;
  vertical-align: middle;
  width: 160px;
}

.cube {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  height: 1em;
  position: absolute;
  width: 1em;
}

.I-piece {
  background: url(images/cube-cyan.png);
}

.J-piece {
  background: url(images/cube-blue.png);
}

.L-piece {
  background: url(images/cube-orange.png);
}

.O-piece {
  background: url(images/cube-yellow.png);
}

.S-piece {
  background: url(images/cube-green.png);
}

.T-piece {
  background: url(images/cube-purple.png);
}

.Z-piece {
  background: url(images/cube-red.png);
}

.I-piece-next {
  background: url(images/I-piece.png);
  display: inline-block;
  height: 24px;
  width: 96px;
}

.J-piece-next {
  background: url(images/J-piece.png);
  display: inline-block;
  height: 72px;
  margin-top: 15px;
  width: 48px;
}

.L-piece-next {
  background: url(images/L-piece.png);
  display: inline-block;
  height: 72px;
  margin-top: 15px;
  width: 48px;
}

.O-piece-next {
  background: url(images/O-piece.png);
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  width: 48px;
}

.S-piece-next {
  background: url(images/S-piece.png);
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  width: 72px;
}

.T-piece-next {
  background: url(images/T-piece.png);
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  width: 72px;
}

.Z-piece-next {
  background: url(images/Z-piece.png);
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  width: 72px;
}
